header{
    background-color: var(--light-purple);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#title {
    color: white;
}

#title:hover {
    cursor: pointer;
}