.Movie-card {
    width: 160px;
    min-height: 340px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 8px;
}

.Poster {
    width: 160px;
    height: auto;
    border-radius: 4px;
    border: 1px solid lightslategray;
}

.Title-card {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Movie-title {
    margin-top: 8px;
    margin-bottom: 6px;
    align-self: flex-start;
}

.Release-date {
    margin: 0;
    color: var(--light-text)
}