.Cast-card {
    min-width: 160px;
    padding: 8px;
    margin: 16px;
    margin-left: 0;
    border-radius: 4px;
    box-shadow: 0 4px 10px var(--light-text);
    text-align: left;
}

.Cast-photo {
    width: 160px;
    height: auto;
    border-radius: 4px;
}

.Cast-card h4 {
    margin: 0;
}

.Cast-card p {
    margin: 0;
    color: var(--dark-text);
}